/*NavBar CSS*/
/* pirata-one-regular - latin */
@font-face {
    font-family: 'Pirata One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pirata-one-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Pirata One'), local('PirataOne-Regular'), url('../fonts/pirata-one-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/pirata-one-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/pirata-one-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/pirata-one-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/pirata-one-v7-latin-regular.svg#PirataOne') format('svg'); /* Legacy iOS */
}

/*Body CSS*/

.jumbotron {
    background-position: left;
    background-image: url('Assets/logo3.png');
    background-repeat: no-repeat;
    padding: 4em;
    background-color: rgba(105, 105, 105,0);
    
}
.container .navbar-header, .container .nav {
    font-family: 'Pirata One';
    font-size:1.5em;
}

.homepage {
    /*background-image: url('Assets/table.jpg');*/
    background-color: #3a3a3a;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('Assets/food-lunch-table-snack.jpg');
}
    /*.homepage::after {
        content: "";
        position: absolute;
        background-image: url('Assets/food-lunch-table-snack.jpg');
        opacity:..25;
        top:0;
        bottom:0;
        left:0;
        right:0;
        z-index:-1;
    }*/
    .homepage .row h2 {
        color: #9a0606;
        font-family: 'Pirata One';
        font-size: 5em;
        
    }
    .homepage .row p {
        color: #9a0606;
        font-weight: bold;
        /*font-family:'Pirata One';*/
        font-size: 1.5em;
        background-color: rgba(231, 249, 239, .25);
    }
    .homepage .body-content {
        background-color: rgba(231, 249, 239, 0);
    }
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(231, 249, 239, .5);
    /*background-color: rgba(107, 107, 107, .25);*/
    border-radius: 1em;
    margin-top: 5em;
    
}

/*Event Index*/
.body-content#event {
    background-image: url('Assets/people eating.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.body-content#event h2{
    color:black;
    padding-bottom:1.5em;
}
.body-content th{
    color:black;
    font-weight:bolder;
    font-size: 2em;
}
.body-content td{
    color:black;
    font-weight:bold;
   
}
.body-content p {
    color: black;
}
/*Event Create*/
.body-content#eventCreate{
    background-image: url('Assets/people eating.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
    .body-content#eventCreate h2{
        color:black;
        padding-bottom: 1.5em;
    }
    #eventCreate .form-horizontal {
       position: center;
    }
    .font-size{
        color:black;
        font-size: 1.5em;
        font-weight:bold;

    }
/*Event Edit*/
.body-content#eventEdit {
    background-image: url('Assets/people eating.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
    .body-content#eventEdit h2 {
        color: black;
        padding-bottom: 1.5em;
    }
/*Event Detail*/
.body-content#eventDetail {
    background-image: url('Assets/people eating.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
    .body-content#eventDetail h2 {
        color: black;
        padding-bottom: 1.5em;
    }
#eventDetail dt {
    color: black;
    font-weight: bolder;
    font-size: 1.5em;
}
 #eventDetail dd {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}
.body-content p {
    color: black;
}
.font-size {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}
/*Event Delete*/
.body-content#eventDelete {
    background-image: url('Assets/people eating.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.body-content#eventDelete h2 {
    color: black;
    padding-bottom: 1.5em;
}
.body-content#eventDelete h3{
    color:black;
}
#eventDelete dt {
    color: black;
    font-weight: bolder;
    font-size: 1.5em;
}
#eventDelete dd {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}
.body-content p {
    color: black;
}
.font-size {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}
/*Customer Index*/
.body-customer {
    background-image: url('Assets/customer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.body-customer .body-content {
    background-color: rgba(231, 249, 239, .05);
}
.body-customer h2{
    color:navajowhite;
    padding-bottom:1.5em;
}
.body-customer .body-content th {
    color: navajowhite;
    font-weight: bolder;
    font-size: 2em;
}

.body-customer .body-content td {
    color: navajowhite;
    font-weight: bold;
    font-size: 1.5em;
}
/*Customer Create*/
/*Customer Detail*/
#customerDetail dt{
    color: navajowhite;
    font-weight: bold;
    font-size: 1.5em;
}
#customerDetail dd {
    color: navajowhite;
    font-weight: bold;
    font-size: 1.5em;
}
/*Customer Edit*/
/*Customer Delete*/
#customerDelete dt {
    color: navajowhite;
    font-weight: bolder;
    font-size: 1.5em;
}
#customerDelete dd {
    color: black;
    font-weight: bolder;
    font-size: 1.5em;
}
#customerDelete h3{
    color:black;
}
/* Set padding to keep content from hitting the edges */
.body-food {
    background-image: url('Assets/plates of food.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}
    .body-food .body-content {
        background-color: rgba(231, 249, 239, 0.25);
    }
.body-food h2{
    color:navajowhite;
    padding-bottom:1.5em; 
}
    .body-food dd {
        color: black;
        font-weight: bolder;
        font-size: 1.5em;
    }
    .body-food dt {
        color: black ;
        font-weight: bolder;
        font-size: 1.5em;
    }
.login {
    background-image: url('Assets/lock.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.login h2{
    color:black;
}
.register {
    background-image: url('Assets/register.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.register h2{
    color:black;
}
.register h4{
    color:black;
}
    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
    .dl-horizontal dt {
        white-space: normal;
    }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    font-weight:bolder;
    text-align:center;
}

/*Footer CSS*/

