@{
    ViewBag.Title = "Home Page";
}
<body class="homepage">
    <div class="jumbotron">

        <div class="row">
            <div class="col-md-offset-4">
                <p><strong><b>This coordinator is for those caterers that would like to have all of their event information in one spot.</b></strong></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2><strong>Food</strong></h2>
            <p>
                Click on the picture below to take you to the view, create, edit, or delete your food items.
            </p>
            <p>
                <a href='@Url.Action("Index","Food")'>
                    <img class="img-rounded" src="~/Content/Assets/plates of food.jpg" width="304" height="236" />
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>View Your Customers</h2>
            @Html.ActionLink("Customers", "Index", "Customer")
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</body>
