@{
    ViewBag.Title = "Home Page";
}
<body class="homepage">
    <div class="jumbotron">

        <div class="row">
            <div class="col-md-offset-4">
                <p><strong><b>This coordinator is for those caterers that would like to have all of their event information in one spot.</b></strong></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2><strong>Food</strong></h2>
            <p>
                Click on the picture below to take you to the view, create, edit, or delete your food items.
            </p>
            
                <a href='@Url.Action("Index","Food")'>
                    <img class="img-rounded" src="~/Content/Assets/plates of food.jpg" width="360" height="236" />
                </a>
            
        </div>
        <div class="col-md-4">
            <h2><strong>Customers</strong></h2>
            <p>
                Click on the picture below to view, create, edit, or delete your customers.
            </p>
            <a href='@Url.Action("Index", "Customer")'>
                <img class="img-rounded" src="~/Content/Assets/customer.jpg" width="360" height="236" />
            </a>
        </div>
        <div class="col-md-4">
            <h2><strong>Events</strong></h2>
                    <p>
                        Click on the picture below to take you to the view, create, edit, or delete your food items.
                    </p>
                    <a  href='@Url.Action("Index","Event")'>
                        <img class="img-"rounded" src="~/Content/Assets/people eating.jpg" width="360" height="236"/>
                    </a>
        </div>
    </div>
</body>
